In [246]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoAlertPresentException
from selenium.webdriver.common.action_chains import ActionChains

from webdriver_manager.chrome import ChromeDriverManager

from bs4 import BeautifulSoup as BS
from datetime import datetime
from random import *

import pandas as pd
import time
import pyperclip
import sys, os
import random
import re
import math
import ast
import json


def find_css(css_selector, browser):
    return browser.find_element(By.CSS_SELECTOR, css_selector)
def finds_css(css_selector, browser):
    return browser.find_elements(By.CSS_SELECTOR, css_selector)

def find_xpath(xpath, browser):
    return browser.find_element(By.XPATH, xpath)
def finds_xpath(xpath, browser):
    return browser.find_elements(By.XPATH, xpath)

def find_id(e_id, browser):
    return browser.find_element(By.ID, e_id)

def find_className(cn, browser):
    return browser.find_element(By.CLASS_NAME, cn)
def finds_className(cn , browser):
    return browser.find_elements(By.CLASS_NAME, cn)

def find_linktext(lt, browser):
    return browser.find_element(By.LINK_TEXT, lt)

def find_name(name, browser):
    return browser.find_element(By.NAME, name)
def finds_name(name, browser):
    return browser.find_elements(By.NAME, name)

def resource_path(relative_path):
    """ Get absolute path to resource, works for dev and for PyInstaller """
    base_path = getattr(sys, '_MEIPASS', os.path.dirname(os.path.abspath(__file__)))
    return os.path.join(base_path, relative_path)

def calculate_percentage(value, percentage):
    result = (value * percentage) / 100
    return result

def extracting_numbers_from_text(text_price):
    pattern = r'\d+'
    matches = re.findall(pattern, text_price)
    result = int(''.join(matches))
    return int(result)

def find_tagName(tn, browser):
    return browser.find_element(By.TAG_NAME, tn)

In [81]:
def open_browser():
    options = webdriver.ChromeOptions()
    options.add_argument('--no--sandbox')
    options.add_argument('no-sandbox')
    options.add_argument('--disable-dev-shm-usage')
    options.add_argument('--window-size=1350,800')
    options.add_argument('incognito')
    chrome_service = Service('chromedriver')
    chrome_service = Service(executable_path="chromedriver.exe")
    browser = webdriver.Chrome(service=chrome_service, options=options)
    return browser

In [3]:
excel = "C:\\Users\\user\\Project\\FCPI\\회사이름.xlsx"
df = pd.read_excel(excel)
company_names = df['회사이름'].tolist()
company_names = [s.replace(" ", "") for s in company_names]
df['대표자'] = df['대표자'].fillna('-')
ceo_names = df['대표자']
ceo_names = [s.replace(" ", "") for s in ceo_names]

In [4]:
browser = open_browser()

all_date_list = []
all_number_list = []
all_company_list = []

for company_name, rep in zip(company_names, ceo_names):
    try:
        browser.get(f"https://www.saramin.co.kr/zf_user/search/company?search_area=main&search_done=y&search_optional_item=n&searchType=search&searchword={company_name}")

        soup = BS(browser.page_source, "html.parser")

        hrefs = []

        corp_infos = soup.find_all(class_="item_corp")

        if len(corp_infos) > 1:
            for corp_info in corp_infos:
                ceo_name_tag = corp_info.find("dt", string="대표자명")

                if ceo_name_tag:
                    ceo_name = ceo_name_tag.find_next("dd").text.strip()

                    if re.search(rep, ceo_name):
                        print(ceo_name)
                        h2_tag = corp_info.find("h2", class_="corp_name")
                        if h2_tag:
                            a_tag = h2_tag.find("a")
                            company_link = a_tag.get("href")
                            full_link = "https://www.saramin.co.kr" + company_link
                            hrefs.append(full_link)

            print(hrefs)
            if len(hrefs) == 1:
                browser.get(hrefs[0])
                
            date_info_list = {}
            numbers_info_list = {}

            personnel_btn = finds_className('btn_age_statistics', browser)
            for idx, _ in enumerate(personnel_btn):
                personnel_btn[idx].click()
                time.sleep(1)

                soup = BS(browser.page_source, "html.parser")
                result = soup.find(class_='graph_range')

                date__info = result.find_all(class_="tit_graph")
                total__info = result.find_all(class_="txt_value")

                counts_list = []
                numbers_list = []

                for da in date__info:
                    counts_list.append(da.text) 

                for nu in total__info:
                    numbers_list.append(nu.text)


                all_company_list.append(find_className('name', browser).text)

                list_name = f"counts_list{idx}"
                date_info_list[list_name] = counts_list

                list2_name = f"numbers_list{idx}"
                numbers_info_list[list2_name] = numbers_list

                all_date_list.append(date_info_list)
                all_number_list.append(numbers_info_list)

        else:
            find_className('company_popup', browser).click()
            time.sleep(.5)

            browser.switch_to.window(browser.window_handles[1])

            date_info_list = {}
            numbers_info_list = {}

            personnel_btn = finds_className('btn_age_statistics', browser)
            for idx, _ in enumerate(personnel_btn):
                personnel_btn[idx].click()
                time.sleep(1)

                soup = BS(browser.page_source, "html.parser")
                result = soup.find(class_='graph_range')

                date__info = result.find_all(class_="tit_graph")
                total__info = result.find_all(class_="txt_value")

                counts_list = []
                numbers_list = []

                for da in date__info:
                    counts_list.append(da.text) 

                for nu in total__info:
                    numbers_list.append(nu.text)


                all_company_list.append(find_className('name', browser).text)

                list_name = f"counts_list{idx}"
                date_info_list[list_name] = counts_list

                list2_name = f"numbers_list{idx}"
                numbers_info_list[list2_name] = numbers_list

                all_date_list.append(date_info_list)
                all_number_list.append(numbers_info_list)

            browser.close()
            browser.switch_to.window(browser.window_handles[0])     

    except Exception as ex:
        pass

In [238]:
canvas = find_id('chart-container', browser)
canvas

In [235]:
finds_className('chart-container-inner', browser)[1].text

'전체: 4명\n명\n입사: - / 퇴사: -\n2023년 1월 기준'

In [237]:
browser = open_browser()
browser.get("https://www.saramin.co.kr/zf_user/company-info/view?csn=RlJjQ3pEOVRjY1ltZFdMSlJYMVc4dz09")

In [240]:
browser.execute_script("arguments[0].scrollIntoView();", canvas)

## 사람인 홈페이지 인원 정보 Code

In [242]:
browser = open_browser()
browser.get("https://www.saramin.co.kr/zf_user/company-info/view?csn=RlJjQ3pEOVRjY1ltZFdMSlJYMVc4dz09")

canvas = find_tagName("canvas", browser)

browser.execute_script("arguments[0].scrollIntoView();", canvas)
time.sleep(.3)



move_to_mouse_point = [
    -350, -300, -200, -150, -100, 0, 50, 150, 250, 300, 350, 450
    ]

list_ = []

for i in move_to_mouse_point:
    actions = ActionChains(browser)
    actions.move_to_element_with_offset(canvas, i, 0)
    actions.perform()
    
    time.sleep(.5)
    list_.append(finds_className('chart-container-inner', browser)[1].text)
    
total = []
resignation = []
date = []

for a in list_:
    a = a.split('\n')
    total.append(a[0])
    resignation.append(a[2])
    date.append(a[3])

    
final_total = []    
joined = []
leaved = []
year = []
month = []

for t in total:
    final_total.append(t.split(' ')[1].split('명')[0])

for r in resignation:
    joined.append(r.split('/')[0].split(' ')[1].split('명')[0])
    leaved.append(r.split('/')[1].split(' ')[2].split('명')[0])
    
for d in date:
    year.append(d.split('년')[0])
    month.append(d.split(' ')[1].split('월')[0])
    
print("final_total : ", final_total)
print("joined : ", joined)
print("leaved : ", leaved)
print("year : ", year)
print("month : ", month)

final_total :  ['4', '4', '4', '4', '4', '5', '5', '5', '7', '7', '7', '8']
joined :  ['-', '-', '-', '-', '-', '1', '-', '-', '2', '-', '-', '1']
leaved :  ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']
year :  ['2022', '2022', '2022', '2023', '2023', '2023', '2023', '2023', '2023', '2023', '2023', '2023']
month :  ['10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [196]:
final_total

['150',
 '150',
 '149',
 '149',
 '148',
 '147',
 '144',
 '140',
 '137',
 '137',
 '133',
 '113',
 '110']

In [184]:
print(find_xpath('/html/body/div[3]/div/div/div/div[3]/section[8]/div/div[3]/div[2]', browser).get_attribute('value'))
print(find_xpath('/html/body/div[3]/div/div/div/div[3]/section[8]/div/div[3]/div[2]', browser).text)

None
전체: 110명
3명
입사: - / 퇴사: 2명
2023년 9월 기준

In [33]:
image_data.get_attribute('value')

In [9]:
find_className('chart-container-inner', browser)

In [ ]:
#     var ctx = canvas.getContext('2d');
#     var imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
#     return imageData.data;

In [17]:
print(len(all_date_list))
print(len(all_number_list))
print(len(all_company_list))

786
786
786

In [18]:
df = pd.DataFrame({
    "company_name" : all_company_list,
    "date" : all_date_list,
    "numbers" : all_number_list
})

In [24]:
df.duplicated(['date']).sum()

734

In [25]:
df2 = df.copy()
df2.head()

,company_name,date,numbers
0,(주)다산네트웍솔루션즈,"{'counts_list0': ['2023.5', '2023.6', '2023.7'...","{'numbers_list0': ['250', '248', '244', '243',..."
1,(주)다산네트웍솔루션즈,"{'counts_list0': ['2023.5', '2023.6', '2023.7'...","{'numbers_list0': ['250', '248', '244', '243',..."
2,(주)다산네트웍솔루션즈,"{'counts_list0': ['2023.5', '2023.6', '2023.7'...","{'numbers_list0': ['250', '248', '244', '243',..."
3,(주)에치에프알,"{'counts_list0': ['-'], 'counts_list1': ['-'],...",{'numbers_list0': [' ...
4,(주)에치에프알,"{'counts_list0': ['-'], 'counts_list1': ['-'],...",{'numbers_list0': [' ...

In [26]:
df2.drop_duplicates(['company_name'], inplace=True)

In [27]:
df2.duplicated(['company_name']).sum()

0

In [28]:
df2.shape

(221, 3)

In [29]:
df2.to_excel("company_personnel_info3.xlsx", index=False)

## Data Preprocessing

In [30]:
excel2 = "C:\\Users\\user\\Project\\FCPI\\company_personnel_info3.xlsx"
data = pd.read_excel(excel2)
data2 = data.copy()
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221 entries, 0 to 220
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  221 non-null    object
 1   date          221 non-null    object
 2   numbers       221 non-null    object
dtypes: object(3)
memory usage: 5.3+ KB

In [31]:
data2['date'][3]

"{'counts_list0': ['2023.5', '2023.6', '2023.7', '2023.8', '2023.9'], 'counts_list1': ['2023.5', '2023.6', '2023.7', '2023.8', '2023.9'], 'counts_list2': ['2023.5', '2023.6', '2023.7', '2023.8', '2023.9']}"

In [32]:
final_company_list = []
final_date_list = []
final_total_numbers_list = []
final_joined_numbers_list = []
final_leaves_numbers_list = []

for i in range(len(data2['date'])):
    data_dict = ast.literal_eval(data2['date'][i])
    data_dict2 = ast.literal_eval(data2['numbers'][i])

    counts_list0 = data_dict.get('counts_list0', [])
    counts_list1 = data_dict.get('counts_list1', [])
    counts_list2 = data_dict.get('counts_list2', [])

    numbers_list0 = data_dict2.get('numbers_list0', [])
    numbers_list1 = data_dict2.get('numbers_list1', [])
    numbers_list2 = data_dict2.get('numbers_list2', [])
    
    final_company_list.append(data2['company_name'][i])
    final_date_list.append(counts_list0[-1])
    
    final_total_numbers_list.append(numbers_list0[-1])
    final_joined_numbers_list.append(numbers_list1[-1])
    final_leaves_numbers_list.append(numbers_list2[-1])
    print("총 인원 수 날짜 :",counts_list0[-1], "/ 총 인원 수 :",numbers_list0[-1])
    print("입사자 날짜 :",counts_list1[-1], "/ 입사자 수 :",numbers_list1[-1])
    print("퇴사자 날짜 :",counts_list2[-1], "/ 퇴사자 수 :",numbers_list2[-1])
    print("\n")

총 인원 수 날짜 : 2023.9 / 총 인원 수 : 241
입사자 날짜 : 2023.9 / 입사자 수 : 3
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 4


총 인원 수 날짜 : - / 총 인원 수 :
                                        6년 7개월
입사자 날짜 : - / 입사자 수 :
                                        6년 7개월
퇴사자 날짜 : - / 퇴사자 수 :
                                        6년 7개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 140
입사자 날짜 : 2023.9 / 입사자 수 : 2
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 133
입사자 날짜 : 2023.9 / 입사자 수 : 4
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 87
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 24


총 인원 수 날짜 : 광통신 / 총 인원 수 :
                                        6년
입사자 날짜 : 광통신 / 입사자 수 :
                                        6년
퇴사자 날짜 : 광통신 / 퇴사자 수 :
                                        6년


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 139
입사자 날짜 : 2023.9 / 입사자 수 : 4
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 연구진 / 총 인원 수 :
                                        4년 8개월
입사자 날짜 : 연구진 / 입사자 수 :
                                        4년 8개월
퇴사자 날짜 : 연구진 / 퇴사자 수 :
                                        4년 8개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 209
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 4


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 181
입사자 날짜 : 2023.9 / 입사자 수 : 2
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 148
입사자 날짜 : 2023.9 / 입사자 수 : 5
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 1,200
입사자 날짜 : 2023.9 / 입사자 수 : 16
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 9


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 167
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 경영관리 / 총 인원 수 :
                                        3년 5개월
입사자 날짜 : 경영관리 / 입사자 수 :
                                        3년 5개월
퇴사자 날짜 : 경영관리 / 퇴사자 수 :
                                        3년 5개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 167
입사자 날짜 : 2023.9 / 입사자 수 : 1
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 126
입사자 날짜 : 2023.9 / 입사자 수 : 7
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 선박전자장비 / 총 인원 수 :
                                        9년 3개월
입사자 날짜 : 선박전자장비 / 입사자 수 :
                                        9년 3개월
퇴사자 날짜 : 선박전자장비 / 퇴사자 수 :
                                        9년 3개월


총 인원 수 날짜 : 관리부문 / 총 인원 수 :
                                        4년 5개월
입사자 날짜 : 관리부문 / 입사자 수 :
                                        4년 5개월
퇴사자 날짜 : 관리부문 / 퇴사자 수 :
                                        4년 5개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 121
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 111
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 86
입사자 날짜 : 2023.9 / 입사자 수 : 4
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 4


총 인원 수 날짜 : 전지부문 / 총 인원 수 :
                                        10년 7개월
입사자 날짜 : 전지부문 / 입사자 수 :
                                        10년 7개월
퇴사자 날짜 : 전지부문 / 퇴사자 수 :
                                        10년 7개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 85
입사자 날짜 : 2023.9 / 입사자 수 : 3
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 109
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 34
입사자 날짜 : 2023.9 / 입사자 수 : 3
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 전체 / 총 인원 수 :
                                        3년
입사자 날짜 : 전체 / 입사자 수 :
                                        3년
퇴사자 날짜 : 전체 / 퇴사자 수 :
                                        3년


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 70
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 4


총 인원 수 날짜 : 방산사업 / 총 인원 수 :
                                        4년
입사자 날짜 : 방산사업 / 입사자 수 :
                                        4년
퇴사자 날짜 : 방산사업 / 퇴사자 수 :
                                        4년


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 92
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 110
입사자 날짜 : 2023.9 / 입사자 수 : 2
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 116
입사자 날짜 : 2023.9 / 입사자 수 : 5
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 132
입사자 날짜 : 2023.9 / 입사자 수 : 21
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 9


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 87
입사자 날짜 : 2023.9 / 입사자 수 : 6
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 87
입사자 날짜 : 2023.9 / 입사자 수 : 1
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.1 / 총 인원 수 : 800
입사자 날짜 : 2023.1 / 입사자 수 : 7
퇴사자 날짜 : 2023.1 / 퇴사자 수 : 6


총 인원 수 날짜 : - / 총 인원 수 :
                                        9년 3개월
입사자 날짜 : - / 입사자 수 :
                                        9년 3개월
퇴사자 날짜 : - / 퇴사자 수 :
                                        9년 3개월


총 인원 수 날짜 : - / 총 인원 수 :
                                        2년 5개월
입사자 날짜 : - / 입사자 수 :
                                        2년 5개월
퇴사자 날짜 : - / 퇴사자 수 :
                                        2년 5개월


총 인원 수 날짜 : - / 총 인원 수 :
                                        4년 5개월
입사자 날짜 : - / 입사자 수 :
                                        4년 5개월
퇴사자 날짜 : - / 퇴사자 수 :
                                        4년 5개월


총 인원 수 날짜 : RF / 총 인원 수 :
                                        6년 7개월
입사자 날짜 : RF / 입사자 수 :
                                        6년 7개월
퇴사자 날짜 : RF / 퇴사자 수 :
                                        6년 7개월


총 인원 수 날짜 : 해외사업 / 총 인원 수 :
                                        7년 4개월
입사자 날짜 : 해외사업 / 입사자 수 :
                                        7년 4개월
퇴사자 날짜 : 해외사업 / 퇴사자 수 :
                                        7년 4개월


총 인원 수 날짜 : 사무직 / 총 인원 수 :
                                        3년 9개월
입사자 날짜 : 사무직 / 입사자 수 :
                                        3년 9개월
퇴사자 날짜 : 사무직 / 퇴사자 수 :
                                        3년 9개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 268
입사자 날짜 : 2023.9 / 입사자 수 : 3
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : - / 총 인원 수 :
                                        6년 7개월
입사자 날짜 : - / 입사자 수 :
                                        6년 7개월
퇴사자 날짜 : - / 퇴사자 수 :
                                        6년 7개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 174
입사자 날짜 : 2023.9 / 입사자 수 : 2
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 165
입사자 날짜 : 2023.9 / 입사자 수 : 1
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 114
입사자 날짜 : 2023.9 / 입사자 수 : 1
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 109
입사자 날짜 : 2023.9 / 입사자 수 : 1
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : - / 총 인원 수 :
                                        3년 2개월
입사자 날짜 : - / 입사자 수 :
                                        3년 2개월
퇴사자 날짜 : - / 퇴사자 수 :
                                        3년 2개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 177
입사자 날짜 : 2023.9 / 입사자 수 : 7
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 산업용 디스.. / 총 인원 수 :
                                        5년 3개월
입사자 날짜 : 산업용 디스.. / 입사자 수 :
                                        5년 3개월
퇴사자 날짜 : 산업용 디스.. / 퇴사자 수 :
                                        5년 3개월


총 인원 수 날짜 : CAR-IVI 부문 / 총 인원 수 :
                                        6년 5개월
입사자 날짜 : CAR-IVI 부문 / 입사자 수 :
                                        6년 5개월
퇴사자 날짜 : CAR-IVI 부문 / 퇴사자 수 :
                                        6년 5개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 151
입사자 날짜 : 2023.9 / 입사자 수 : 1
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 167
입사자 날짜 : 2023.9 / 입사자 수 : 3
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 전부문 / 총 인원 수 :
                                        12년 2개월
입사자 날짜 : 전부문 / 입사자 수 :
                                        12년 2개월
퇴사자 날짜 : 전부문 / 퇴사자 수 :
                                        12년 2개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 114
입사자 날짜 : 2023.9 / 입사자 수 : 2
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : - / 총 인원 수 :
                                        9년 3개월
입사자 날짜 : - / 입사자 수 :
                                        9년 3개월
퇴사자 날짜 : - / 퇴사자 수 :
                                        9년 3개월


총 인원 수 날짜 : 통신사업 / 총 인원 수 :
                                        6년 2개월
입사자 날짜 : 통신사업 / 입사자 수 :
                                        6년 2개월
퇴사자 날짜 : 통신사업 / 퇴사자 수 :
                                        6년 2개월


총 인원 수 날짜 : 2023.1 / 총 인원 수 : 96
입사자 날짜 : 2023.1 / 입사자 수 : 0
퇴사자 날짜 : 2023.1 / 퇴사자 수 : 96


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 186
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 11


총 인원 수 날짜 : 전사 / 총 인원 수 :
                                        11년
입사자 날짜 : 전사 / 입사자 수 :
                                        11년
퇴사자 날짜 : 전사 / 퇴사자 수 :
                                        11년


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 136
입사자 날짜 : 2023.9 / 입사자 수 : 2
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 224
입사자 날짜 : 2023.9 / 입사자 수 : 1
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 7


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 150
입사자 날짜 : 2023.9 / 입사자 수 : 1
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 81
입사자 날짜 : 2023.9 / 입사자 수 : 1
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 방송 등 / 총 인원 수 :
                                        10년 6개월
입사자 날짜 : 방송 등 / 입사자 수 :
                                        10년 6개월
퇴사자 날짜 : 방송 등 / 퇴사자 수 :
                                        10년 6개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 301
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 255
입사자 날짜 : 2023.9 / 입사자 수 : 6
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 189
입사자 날짜 : 2023.9 / 입사자 수 : 2
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 163
입사자 날짜 : 2023.9 / 입사자 수 : 4
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 143
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 97
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 130
입사자 날짜 : 2023.9 / 입사자 수 : 3
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 19
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 비방송부문 / 총 인원 수 :
                                        7년 5개월
입사자 날짜 : 비방송부문 / 입사자 수 :
                                        7년 5개월
퇴사자 날짜 : 비방송부문 / 퇴사자 수 :
                                        7년 5개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 376
입사자 날짜 : 2023.9 / 입사자 수 : 2
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 289
입사자 날짜 : 2023.9 / 입사자 수 : 4
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 248
입사자 날짜 : 2023.9 / 입사자 수 : 2
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 미디어 / 총 인원 수 :
                                        11년 5개월
입사자 날짜 : 미디어 / 입사자 수 :
                                        11년 5개월
퇴사자 날짜 : 미디어 / 퇴사자 수 :
                                        11년 5개월


총 인원 수 날짜 : 연구직 / 총 인원 수 :
                                        4년 8개월
입사자 날짜 : 연구직 / 입사자 수 :
                                        4년 8개월
퇴사자 날짜 : 연구직 / 퇴사자 수 :
                                        4년 8개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 129
입사자 날짜 : 2023.9 / 입사자 수 : 5
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 46
입사자 날짜 : 2023.9 / 입사자 수 : 3
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 95
입사자 날짜 : 2023.9 / 입사자 수 : 2
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 125
입사자 날짜 : 2023.9 / 입사자 수 : 3
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 4


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 114
입사자 날짜 : 2023.9 / 입사자 수 : 2
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 6


총 인원 수 날짜 : 전사 / 총 인원 수 :
                                        5년 9개월
입사자 날짜 : 전사 / 입사자 수 :
                                        5년 9개월
퇴사자 날짜 : 전사 / 퇴사자 수 :
                                        5년 9개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 687
입사자 날짜 : 2023.9 / 입사자 수 : 4
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 37


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 1,921
입사자 날짜 : 2023.9 / 입사자 수 : 31
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 52


총 인원 수 날짜 : - / 총 인원 수 :
                                        3년 4개월
입사자 날짜 : - / 입사자 수 :
                                        3년 4개월
퇴사자 날짜 : - / 퇴사자 수 :
                                        3년 4개월


총 인원 수 날짜 : 소프트웨어 .. / 총 인원 수 :
                                        4년 4개월
입사자 날짜 : 소프트웨어 .. / 입사자 수 :
                                        4년 4개월
퇴사자 날짜 : 소프트웨어 .. / 퇴사자 수 :
                                        4년 4개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 243
입사자 날짜 : 2023.9 / 입사자 수 : 5
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 231
입사자 날짜 : 2023.9 / 입사자 수 : 8
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 전사 / 총 인원 수 :
                                        5년 5개월
입사자 날짜 : 전사 / 입사자 수 :
                                        5년 5개월
퇴사자 날짜 : 전사 / 퇴사자 수 :
                                        5년 5개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 109
입사자 날짜 : 2023.9 / 입사자 수 : 8
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 9


총 인원 수 날짜 : 서비스부문 / 총 인원 수 :
                                        6년 5개월
입사자 날짜 : 서비스부문 / 입사자 수 :
                                        6년 5개월
퇴사자 날짜 : 서비스부문 / 퇴사자 수 :
                                        6년 5개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 173
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 218
입사자 날짜 : 2023.9 / 입사자 수 : 12
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 전사 / 총 인원 수 :
                                        5년 5개월
입사자 날짜 : 전사 / 입사자 수 :
                                        5년 5개월
퇴사자 날짜 : 전사 / 퇴사자 수 :
                                        5년 5개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 70
입사자 날짜 : 2023.9 / 입사자 수 : 4
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 전사 / 총 인원 수 :
                                        2년 4개월
입사자 날짜 : 전사 / 입사자 수 :
                                        2년 4개월
퇴사자 날짜 : 전사 / 퇴사자 수 :
                                        2년 4개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 111
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 46
입사자 날짜 : 2023.9 / 입사자 수 : 1
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 125
입사자 날짜 : 2023.9 / 입사자 수 : 2
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 5


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 97
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 6
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 103
입사자 날짜 : 2023.9 / 입사자 수 : 5
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 1


총 인원 수 날짜 : 전사 / 총 인원 수 :
                                        5년 2개월
입사자 날짜 : 전사 / 입사자 수 :
                                        5년 2개월
퇴사자 날짜 : 전사 / 퇴사자 수 :
                                        5년 2개월


총 인원 수 날짜 : IT정보서비스 / 총 인원 수 :
                                        3년 8개월
입사자 날짜 : IT정보서비스 / 입사자 수 :
                                        3년 8개월
퇴사자 날짜 : IT정보서비스 / 퇴사자 수 :
                                        3년 8개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 48
입사자 날짜 : 2023.9 / 입사자 수 : 3
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 경영관리 / 총 인원 수 :
                                        3년 9개월
입사자 날짜 : 경영관리 / 입사자 수 :
                                        3년 9개월
퇴사자 날짜 : 경영관리 / 퇴사자 수 :
                                        3년 9개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 373
입사자 날짜 : 2023.9 / 입사자 수 : 15
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 4


총 인원 수 날짜 : 본사 / 총 인원 수 :
                                        3년
입사자 날짜 : 본사 / 입사자 수 :
                                        3년
퇴사자 날짜 : 본사 / 퇴사자 수 :
                                        3년


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 200
입사자 날짜 : 2023.9 / 입사자 수 : 5
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 146
입사자 날짜 : 2023.9 / 입사자 수 : 4
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 의료영상 / 총 인원 수 :
                                        8년 4개월
입사자 날짜 : 의료영상 / 입사자 수 :
                                        8년 4개월
퇴사자 날짜 : 의료영상 / 퇴사자 수 :
                                        8년 4개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 388
입사자 날짜 : 2023.9 / 입사자 수 : 4
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 6


총 인원 수 날짜 : 기타(합계) / 총 인원 수 :
                                        4년 9개월
입사자 날짜 : 기타(합계) / 입사자 수 :
                                        4년 9개월
퇴사자 날짜 : 기타(합계) / 퇴사자 수 :
                                        4년 9개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 24
입사자 날짜 : 2023.9 / 입사자 수 : 5
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 2


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 45
입사자 날짜 : 2023.9 / 입사자 수 : 7
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 4


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 86
입사자 날짜 : 2023.9 / 입사자 수 : 3
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 0
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 4
입사자 날짜 : 2023.9 / 입사자 수 : 0
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 944
입사자 날짜 : 2023.9 / 입사자 수 : 21
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 4


총 인원 수 날짜 : 게임 / 총 인원 수 :
                                        2년 3개월
입사자 날짜 : 게임 / 입사자 수 :
                                        2년 3개월
퇴사자 날짜 : 게임 / 퇴사자 수 :
                                        2년 3개월


총 인원 수 날짜 : 전사 / 총 인원 수 :
                                        2년 3개월
입사자 날짜 : 전사 / 입사자 수 :
                                        2년 3개월
퇴사자 날짜 : 전사 / 퇴사자 수 :
                                        2년 3개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 145
입사자 날짜 : 2023.9 / 입사자 수 : 3
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 9


총 인원 수 날짜 : 게임사업 / 총 인원 수 :
                                        4년 3개월
입사자 날짜 : 게임사업 / 입사자 수 :
                                        4년 3개월
퇴사자 날짜 : 게임사업 / 퇴사자 수 :
                                        4년 3개월


총 인원 수 날짜 : 전사 / 총 인원 수 :
                                        3년 4개월
입사자 날짜 : 전사 / 입사자 수 :
                                        3년 4개월
퇴사자 날짜 : 전사 / 퇴사자 수 :
                                        3년 4개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 619
입사자 날짜 : 2023.9 / 입사자 수 : 5
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 8


총 인원 수 날짜 : 게임 사업 / 총 인원 수 :
                                        4년 1개월
입사자 날짜 : 게임 사업 / 입사자 수 :
                                        4년 1개월
퇴사자 날짜 : 게임 사업 / 퇴사자 수 :
                                        4년 1개월


총 인원 수 날짜 : 전사 / 총 인원 수 :
                                        3년 4개월
입사자 날짜 : 전사 / 입사자 수 :
                                        3년 4개월
퇴사자 날짜 : 전사 / 퇴사자 수 :
                                        3년 4개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 466
입사자 날짜 : 2023.9 / 입사자 수 : 18
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 21


총 인원 수 날짜 : 전사 / 총 인원 수 :
                                        4년
입사자 날짜 : 전사 / 입사자 수 :
                                        4년
퇴사자 날짜 : 전사 / 퇴사자 수 :
                                        4년


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 284
입사자 날짜 : 2023.9 / 입사자 수 : 10
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 3


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 11,664
입사자 날짜 : 2023.9 / 입사자 수 : 81
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 51


총 인원 수 날짜 : 기타(합계) / 총 인원 수 :
                                        10년
입사자 날짜 : 기타(합계) / 입사자 수 :
                                        10년
퇴사자 날짜 : 기타(합계) / 퇴사자 수 :
                                        10년


총 인원 수 날짜 : 차량용SW / 총 인원 수 :
                                        4년 5개월
입사자 날짜 : 차량용SW / 입사자 수 :
                                        4년 5개월
퇴사자 날짜 : 차량용SW / 퇴사자 수 :
                                        4년 5개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 3,495
입사자 날짜 : 2023.9 / 입사자 수 : 120
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 129


총 인원 수 날짜 : 본사 / 총 인원 수 :
                                        5년 7개월
입사자 날짜 : 본사 / 입사자 수 :
                                        5년 7개월
퇴사자 날짜 : 본사 / 퇴사자 수 :
                                        5년 7개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 1,693
입사자 날짜 : 2023.9 / 입사자 수 : 8
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 19


총 인원 수 날짜 : 관리/개발 / 총 인원 수 :
                                        11년 3개월
입사자 날짜 : 관리/개발 / 입사자 수 :
                                        11년 3개월
퇴사자 날짜 : 관리/개발 / 퇴사자 수 :
                                        11년 3개월


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 1,174
입사자 날짜 : 2023.9 / 입사자 수 : 6
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 6


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 1,025
입사자 날짜 : 2023.9 / 입사자 수 : 8
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 6


총 인원 수 날짜 : 경영지원 / 총 인원 수 :
                                        2년
입사자 날짜 : 경영지원 / 입사자 수 :
                                        2년
퇴사자 날짜 : 경영지원 / 퇴사자 수 :
                                        2년


총 인원 수 날짜 : 2023.3 / 총 인원 수 : 1,537
입사자 날짜 : 2023.3 / 입사자 수 : 39
퇴사자 날짜 : 2023.3 / 퇴사자 수 : 47


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 588
입사자 날짜 : 2023.9 / 입사자 수 : 20
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 15


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 721
입사자 날짜 : 2023.9 / 입사자 수 : 8
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 0


총 인원 수 날짜 : 2023.9 / 총 인원 수 : 585
입사자 날짜 : 2023.9 / 입사자 수 : 5
퇴사자 날짜 : 2023.9 / 퇴사자 수 : 6



In [33]:
print(len(final_company_list))
print(len(final_date_list))
print(len(final_total_numbers_list))
print(len(final_joined_numbers_list))
print(len(final_leaves_numbers_list))

221
221
221
221
221

In [34]:
final_data = pd.DataFrame({
    "회사이름" : final_company_list,
    "날짜" : final_date_list,
    "총 인원수" : final_total_numbers_list,
    "입사자 수" : final_joined_numbers_list,
    "퇴사자 수" : final_leaves_numbers_list
})

final_data

,회사이름,날짜,총 인원수,입사자 수,퇴사자 수
0,(주)다산네트웍솔루션즈,2023.9,241,3,4
1,(주)에치에프알,-,\n 6년 7...,\n 6년 7...,\n 6년 7...
2,가온브로드밴드(주),2023.9,140,2,1
3,(주)유텔,2023.9,133,4,1
4,(주)켐옵틱스,2023.9,87,0,24
...,...,...,...,...,...
216,(주)포어링크,2023.9,149,5,0
217,에스케이실트론(주),공통,\n 9년 2...,\n 9년 2...,\n 9년 2...
218,한국무라타전자(주),2023.9,191,0,0
219,(주)캠시스,사무관리직,\n 7년 3...,\n 7년 3...,\n 7년 3...
220,오진상사(주),2023.9,129,6,2

In [35]:
final_data.to_excel("ICT회사 원표본 회사 인원 데이터_1024.xlsx", index=False)